<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="All">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Lib</directory>
        </whitelist>
    </filter>

    <php>
        <env name="COMPOSER_ALLOW_XDEBUG" value="1"></env>
        <env name="display_errors" value="0"></env>

        <ini name="memory_limit" value="10M"/>
    </php>

    <logging>
        <log type="coverage-html" target="/tmp/report" lowUpperBound="80"
             highLowerBound="90"/>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-html" target="/tmp/testdox.html"/>
        <log type="testdox-text" target="/tmp/testdox.txt"/>
    </logging>

</phpunit>